/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

.content section {
    padding: 400px;
    text-align: center;
    height: 100vh;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    transition: background-color 0.3s;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

.nav-links a:hover {
    color: #333;
    background-color: #fff;
    border-radius: 5px;
}

/* Change background color when scrolling */
.scrolled {
    background-color: #222;
}

/* Section styles */
#home { background-color: #ffdead; }
#about { background-color: #f0e68c; }
#services { background-color: #e0ffff; }
#contact { background-color: #dda0dd; }
